.instrument-controls{
    display: flex;
}
.instrument-tab{
    display:flex;
    width: 100%;
    border: 0.15vw solid royalblue;
    margin: 1% auto;
    flex-wrap: nowrap;
    height:9.9vw;
    align-items: center;
}

.name-container{
    position: relative;
    border-right: 0.15vw solid royalblue;
    width: 25%;
    height:100%;
    text-align:center;
}
.circle {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: table;
    background: #ffffff2d;
    cursor: pointer;

}
.circle h1 {
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0em #0000003d;
    font-size:2vw;
    vertical-align: middle;
    text-align:center; 
    display: table-cell;
    font-family:'Courier';
}
.note-matrix.modal-nm{
    max-height: 540px;
}
.name-container .modal-title{
    
}

h5.modal-title{
    color:royalblue;
    margin-bottom:1rem;
    text-align: center;
}
.modal-nm .time-slot{
    background: royalblue;
}
.modal-dialog.modal-md{
    max-width:600px;
}
.name-container .modal-content{
    background-color: #020d46;
}

.volume-slider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */;
    height: 90%;
    width:20%;
    margin: 0.5em;
}
.volume-slider::-moz-range-thumb, .volume-slider::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    border: 0px;
    border-radius: 50%;
    background: royalblue;
    cursor: pointer;
  }
.btn-container{
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.btn-container .md-button{
    border: 2px solid ;
    transition: 0.5s;
    font-family: sans-serif;
    width: 4vw; 
    margin-left: auto;
}

.btn-container .md-button.mute{
    border-color: #ffc400;
    color:#ffc400; 
}

.btn-container .md-button.mute.active{
    border-color: #dfab00;
    background: #ffc400;
    color: #0000008d;
}

.btn-container .md-button.solo{
    color: #cf0000;
    border-color: #cf0000;
}

.btn-container .md-button.solo.active{
    background: #cf0000;
    border-color:#af0000;
    color: #0000008d;
}

.col-md-6.effects{
    padding-right:0px;
    padding-left:20px;
}

.col-md-3.last{
    padding-left:0px;
}

.md-button.shuffle{
    margin-left: auto;
    font-size: 1.5vw;
}

.shuffle button:active{
    background: #ffffff2d;
}
.offset{
    min-height: 48px;
}

.cleardiv{
    display:flex;
    flex-direction:row-reverse;
}
.md-button.clear{
    min-width: 50px;
    font-size: 1.2vw;
    width:2vw;
    background: inherit;
    color: red;
    border:1px solid red;
}


.instrument-settings{
    display: flex;
}
.drum-icon{
    font-size: 5em;
    color: #ffffff2d;
    margin: 0px auto;
}

.row{
    width:100%;
    align-items: center;
}
