.instrument-controls{
    display: flex;
}
.instrument-tab{
    display:flex;
    width: 100%;
    border: 0.15vw solid royalblue;
    margin: 1% auto;
    flex-wrap: nowrap;
    height:9.9vw;
    align-items: center;
}

.name-container{
    position: relative;
    border-right: 0.15vw solid royalblue;
    width: 20.204%;
    height:100%;
}
.circle {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: table;
    background: #ffffff2d;
    cursor: pointer;

}
.circle h1 {
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0em #0000003d;
    font-size:1.8vw;
    vertical-align: middle;
    text-align:center; 
    display: table-cell;
    font-family:cursive;
}
.volume-slider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */;
    height: 100%;
    margin: 0.3em;
}
.volume-slider::-moz-range-thumb, .volume-slider::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    border: 0px;
    border-radius: 50%;
    background: royalblue;
    cursor: pointer;
  }
.btn-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* width:19.177%; */
}


.btn-container button{
    background: transparent;
    margin: 0.3em;
    border: 1px solid royalblue;
    color: royalblue;
    /* border-radius: 3px; */
    transition: 0.5s;
    font-family: sans-serif;
    /* border-radius: 100%; */
    /* height: 4vw; */
    /* width: 4vw; */ 
}
.btn-container button:focus{
    outline: 0;
}

/* .btn-container h1{
    margin-bottom:0;
    font-size:0.9vw;
    font-family: cursive;
} */
.btn-container button.mute{
    border-color: #ffc400;
    color:#ffc400;  
}
.btn-container button.mute:hover{
    box-shadow: inset 0px 2px 2px #947100,inset 0px -2px 2px #947100;
}
.btn-container button.mute.active{
    box-shadow: inset 0px 2px 2px #947100,inset 0px -2px 2px #947100;
    border-color: #dfab00;
    background: #ffc400;
    color: #0000008d;
}
.btn-container button.solo{
    border-color:#cf0000;
    color: #cf0000;
}
.btn-container button.solo:hover{
    box-shadow: inset 0px 2px 2px #700000,inset 0px -2px 2px #700000;
}
.btn-container button.solo.active{
    box-shadow: inset 0px 2px 2px #700000,inset 0px -2px 2px #700000;
    border-color: #af0000;
    background: #cf0000;
    color: #0000008d;
}
/* #mute{
    background: rgba(245, 245, 127, 0.596);
    margin:0.4vw auto 0.1vw auto;
    border:0.15vw solid yellow; 
    box-shadow: 0 0.4vw rgba(245, 245, 127, 0.596);  
}

#mute.active{
    background-color:yellow;
    box-shadow: 0 0.15vw rgba(245, 245, 127, 0.596);
    transform: translateY(0.2vw);
}

#mute:focus{
    outline:0;
}

#solo{
    background: rgb(207, 124, 124);
    margin:0.5vw auto 0.5vw auto;
    border: 0.15vw solid red;
    box-shadow: 0 0.4vw rgb(207, 124, 124);  
}

#solo.active{
    background-color:red;
    box-shadow: 0 0.15vw rgb(207, 124, 124);  ;
    transform: translateY(0.2vw);
}

#solo:focus{
    outline:0;
} */

/* select option{
    font-size:1vw;
} */

.shuffle{
    margin-left: auto;
    font-size: 2vw;
}


.shuffle svg{
    margin:auto;

}
.shuffle button:active{
    background: #ffffff2d;
}

.clear{
    display:flex;
    flex-direction: row-reverse;
    margin-right:0;
    margin-top:0;
    width: 4.59vw;
}
.clear button{
    height: 3vw;
    width: 3vw;
    font-size: 1.5vw;
    background: inherit;
    color: red;
    border:0;
}

.clear button:active{
    background: #ffffff2d;
}

.instrument-settings{
    display: flex;
}
.drum-icon{
    font-size: 5em;
    color: #ffffff2d;
    margin: 0px auto;
}