
.instrument-tab{
    display:flex;
    width: 100%;
    border: 0.15vw solid royalblue;
    margin: 1% auto;
    height:9.9vw;
}

.name-container{
    position: relative;
    border-right: 0.15vw solid royalblue;
    width: 25%;
    text-align:center;
}

.circle {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background: -moz-linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 41%, rgba(0,0,0,0) 69%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 41%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 41%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 );
    cursor: pointer;
}

.circle:hover{
    background: -moz-linear-gradient(to top, rgba(65,105,225,0.7) 0%, rgba(65,105,225,0.7) 41%, rgba(65,105,225,0) 69%, rgba(65,105,225,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to top, rgba(65,105,225,0.7) 0%,rgba(65,105,225,0.7) 41%,rgba(65,105,225,0) 69%,rgba(65,105,225,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(65,105,225,0.7) 0%,rgba(65,105,225,0.7) 41%,rgba(65,105,225,0) 69%,rgba(65,105,225,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 );
}

.circle h1 {
    text-shadow: 0.1em 0.1em 0em #0000003d;
    font-size:2vw;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    bottom: 10%;
    width: 100%;

}
.note-matrix.modal-nm{
    max-height: 540px;
}
h5.modal-title{
    color:royalblue;
    margin-bottom:1rem;
}
.modal-dialog.modal-md{
    max-width:600px;
}
.instrument-tab .md-button{
    min-width: 0px;
}
.name-container .modal-content{
    background-color: #1d2341;
    border: 1px solid royalblue;
}

.volume-controls svg{
   margin-left:13.5px;
   color: royalblue;
}
.volume-slider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */;
    height: 100px;
    width:20%;
    margin: 0;
    padding-left:18px;
    padding-bottom:0;
    padding-top:0;
}

.volume-slider::-moz-range-thumb, .volume-slider::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    border: 0px;
    border-radius: 50%;
    background: royalblue;
    cursor: pointer;
  }
.btn-container .md-button{
    border: 2px solid;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: 600;
    width: 4vw; 
    margin-left: auto;
}
.btn-container .md-button.mute{
    border-color: #ffc400;
    color:#ffc400; 
}
.btn-container .md-button.mute.active{
    border-color: #dfab00;
    background: #ffc400;
    color: #0000008d;
}
.btn-container .md-button.solo{
    color: #cf0000;
    border-color: #cf0000;
}
.btn-container .md-button.solo.active{
    background: #cf0000;
    border-color:#af0000;
    color: #0000008d;
}
.right-side{
    display: flex;
    flex-direction: column;
}
.md-button.shuffle{
    border: 1px solid royalblue;
}
.md-button.clear{
    background: inherit;
    color: red;
    border:1px solid red;
}
.drum-icon{
    font-size: 5em;
    color: #ffffff2d;
    margin: 0px auto;
}

.pattern-selector{
    display: flex;
    flex-direction: column;
    border-right: 2px solid royalblue;
}
.nav-item{
    transition: background-color 0.5s;
    padding: 0.2rem 0.4rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: block;
}
.md-button.active, .nav-item.active{
    background: royalblue;
    color: white;
}
.nav-link{
    color: inherit;
}
.pattern-selector .nav-link{
    padding: 0.3rem 0.6rem;
}
.pattern-selector .nav-link:hover {
    text-decoration: none;
}
.drums-namebox{
    display: block;
    position: absolute;
    top: 10%;
    opacity: 0.3;
    width: 100%;
    z-index: 0;
}
.md-menu-content-container{
    background: #2d3455;
}
