.main-panel{
    position: relative;
    display: flex;
    margin: 0px auto;
    width: 50%;
    background-color: #ffffff2d;
    padding: 10px 30px 20px 30px;
    color: white;
    flex-direction: column;
}

.main-panel .controls,.notes{
    margin: 10px auto;
}

.main-panel .controls button{
    background: transparent;
    color: royalblue;
    border: 2px solid royalblue;
    height:65px;
    width:65px;
    border-radius:55px;
    font-family: monospace;
    font-size:20px;
    margin: 5px;
}
.main-panel .controls button:active{
    background: #ffffff2d;
}

.main-panel .controls > h3{
    margin: 0px;
    padding: 0px;
}