.main-panel{
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 50%;
    background-color: #ffffff2d;
    padding: 0.6vw 1.8vw 1.2vw 1.8vw;
    color: white;
    flex-direction: column;
}

.main-panel .controls button{
    border: 3px solid;
    height:65px;
    width:65px;
    border-radius:50%;
    font-size:20px;
    transition: 0.5s;
}

.controls .md-button{
    min-width: 65px;
}
.main-panel .controls > h3{
    margin: 0px;
    padding: 0px;
}

.instMute{
    display:flex;
    width: 100%;
    border: 0.15vw solid royalblue;
    margin: 2% auto;
    flex-wrap: nowrap;
    height:9.9vw;
    -webkit-filter: grayscale(100%);
}

.md-field{
    display: inline-block; 
}
