.control-select{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    font-family: 'Courier';
    margin: 0px 0.3em;
}

.md-list-item-container{
    background-color:#000830 ;
    opacity:0.8;
    font-family: 'Courier New', Courier, monospace;
}

.md-field{
    font-family: 'Courier New', Courier, monospace;
}