@import url('https://fonts.googleapis.com/css?family=Questrial');
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    /* background-color: #0f0830; */
    background-color: #000830;
    font-family: 'Questrial';
}
button{
    cursor: pointer;
}
button, input{
    border: 0.15vw solid royalblue;
    color: royalblue; 
    background-color: transparent;
    outline:none;
}
input{
    padding:0.7vw;   
}

input[type="range"]{
    border: 0px;
    outline: none;
}